<!-- ==============================================
		FOOTER
		=============================================== -->
<footer id="main-footer" class="color-bg light-typo">

  <div class="container text-center">
    <ul class="social-links">
      <li>
        <a href="https://twitter.com/maras_co">
          <i class="fa fa-twitter fa-fw"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/1marasco">
          <i class="fa fa-facebook fa-fw"></i>
        </a>
      </li>
      <!-- <li>
        <a href="#link">
          <i class="fa fa-google-plus fa-fw"></i>
        </a>
      </li> -->
      <!-- <li>
        <a href="#link">
          <i class="fa fa-dribbble fa-fw"></i>
        </a>
      </li> -->
      <li>
        <a href="#link">
          <i class="fa fa-linkedin fa-fw"></i>
        </a>
      </li>
    </ul>
    <p>&copy;2024
      <a href="http://admin.maras.co" target="_blank">Maras,co</a>.
    </p>
    <em>Building Cloud-based Web applications and Web/Mobile/Desktop platforms since 1997</em>

  </div>

</footer>
