		<!-- ==============================================
		HEADER
		=============================================== -->
		<header id="home" class="jumbotron bg-image bg-slider" data-slides="assets/img/logo/1920x1280.png,assets/header-6.jpeg,assets/header-2.jpg" data-speed="5000">
			
			<div class="container text-center">
			
				<div class="text-slider flexslider">
						
					<ul class="slides">
						<li>
							<h1>Welcome to Maras.co</h1>
							<p>A Mobile/Web/Cloud/AI-ML App Development Company</p>
						</li>
						<li>
							<h1>High Quality Mobile and Cloud-based Web Applications</h1>
							<p>at extremely competitive prices</p>
						</li>
						<li>
							<h1>I specialize in offering cloud-based software solutions</h1>
							<p>for every desktop, mobile device, or web platform</p>
						</li>
					</ul>
					
				</div>
			
			</div>
			
			<span class="prev-slide"><i class="fa fa-angle-left"></i></span>
			<span class="next-slide"><i class="fa fa-angle-right"></i></span>
		</header><!--End header -->
