<!-- ==============================================
		CONTACT
		=============================================== -->
<section id="contact" class="gray-bg padding-top-bottom">

  <div class="container">

    <h1 class="section-title">Keep in Touch</h1>
    <p class="section-description">Are you ready to start your project? Give us call or drop us a line.</p>

    <div class="row">

      <div class="col-sm-4 text-center contact-item scrollimation fade-right">

        <a class="icon" href="https://goo.gl/maps/U9wBaaNLfoT2" target="_blank">
          <i class="fa fa-map-marker fa-fw"></i>
        </a>
        <h2>Our Location</h2>
        <p>San Diego, CA</p>

      </div>

      <div class="col-sm-4 text-center contact-item scrollimation fade-up">

        <a class="icon" href="mailto:antonio@maras.co">
          <i class="fa fa-envelope fa-fw"></i>
        </a>
        <h2>Send a email</h2>
        <p>antonio(at)maras.co</p>

      </div>

      <div class="col-sm-4 text-center contact-item scrollimation fade-left">

        <a class="icon" href="#link">
          <i class="fa fa-phone fa-fw"></i>
        </a>
        <h2>Call us</h2>
        <p>+1 (619) 954-5757</p>

      </div>

    </div>

    <h1 class="subsection-title">Drop us a line</h1>
    <p class="subsection-description">Drop us a line and we will contact you as soon as possible.</p>

    <div class="row">

      <!--=== Contact Form ===

      <form 
      id="contact-form" 
      [formGroup]="contactForm" 
      class="col-sm-6 col-sm-offset-3" 
      novalidate 
      (ngSubmit)="submit(contactForm)">

      <!-- <div class="form-group">
        <label class="control-label" for="contact-name">Name</label>
        <div class="controls">
          <input formControlName="name" id="name" name="name" placeholder="Your name" class="form-control requiredField label_better" type="text">
          <i class="fa fa-user"></i>
          <span class="error-message" *ngIf="name.touched && !name.valid">Please enter your name.</span>
        </div>
      </div> -->
      <!-- End name input 

      <div class="form-group">
        <label class="control-label" for="firstName">First Name</label>
        <div class="controls">
          <input formControlName="firstName" id="firstName" name="firstName" placeholder="First name" class="form-control requiredField label_better" type="text">
          <i class="fa fa-user"></i>
          <span class="error-message" *ngIf="firstName.touched && !firstName.valid">Please enter your first name.</span>
        </div>
      </div>
      <!-- End first Name input 

      <div class="form-group">
        <label class="control-label" for="lastName">Last Name</label>
        <div class="controls">
          <input formControlName="lastName" id="lastName" name="lastName" placeholder="Last name" class="form-control requiredField label_better" type="text">
          <i class="fa fa-user"></i>
          <span class="error-message" *ngIf="lastName.touched && !lastName.valid">Please enter your last name.</span>
        </div>
      </div>
      <!-- End first Name input 

      <div class="form-group">
        <label class="control-label" for="contact-mail">Email</label>
        <div class=" controls">
          <input formControlName="email" id="email" name="email" placeholder="Your email" class="form-control requiredField label_better" type="email">
          <i class="fa fa-envelope"></i>
          <span class="error-message" *ngIf="email.touched && !email.valid">Please enter your email in a valid email format</span>
        </div>
      </div>
      <!-- End email input 

      <div class="form-group">
        <label class="control-label" for="contact-message">Message</label>
        <div class="controls">
          <textarea formControlName="message" id="message" name="message" placeholder="Your message" class="form-control requiredField label_better"
            rows="6"></textarea>
          <i class="fa fa-comment"></i>
          <span class="error-message" *ngIf="message.touched && !message.valid">Please enter your message.</span>
        </div>
      </div>
      <!-- End textarea 

      <!-- Success 
      <div *ngIf="success" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
          <strong>Success!</strong> Thank you for your interest.  We will be in contact with you shortly.
      </div>

      <!-- FaIL  
      <div *ngIf="fail" class="alert alert-danger fade in alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
          <strong>Oops!</strong> Make sure form is filled out correctly
      </div>

      <p>

        <button name="submit" type="submit" class="btn btn-qubico btn-block">
          <i class="fa fa-location-arrow"></i>Send Message</button>
      </p>
      <input type="hidden" name="submitted" id="submitted" value="true" />

    </form>
  -->
      <!-- End contact-form -->

    </div>

  </div>

</section>
