		<!-- ==============================================
		FEATURED PROJECTS
		=============================================== -->
		<section class="gray-bg padding-top">
      
        <div class="container">
          
          <h1 class="section-title">Featured Projects</h1>
          <p class="section-description">Take a taste of my latest projects. I'm proud of bringing this magic to life!</p>
          
          <p class="text-center"><a class="btn btn-qubico scrollto" href="#portfolio">My Portfolio</a></p>
          
          <div class="ipad-frame scrollimation fade-up">
            
            <img class="img-responsive img-center" src="assets/ipad-landscape.png" alt=""/>
            
            <div class="ipad-screen ipad-slider flexslider">
              
              <ul class="slides">
                <li>
                  <img class="img-responsive" src="assets/projects/fundingmiracles/fundingmiracles650X480.png" alt=""/>
                </li>
                <li>
                  <img class="img-responsive" src="assets/projects/datamanager/datamanager650X480.png" alt=""/>
                </li>
                <li>
                  <img class="img-responsive" src="assets/projects/glidia/glidia650X480.png" alt=""/>
                </li>
              </ul>
              
            </div>
            
          </div>
        
        </div>
        
      </section>