		<!-- ==============================================
		SERVICES
		=============================================== -->
		<section id="services" class="white-bg padding-top-bottom">
      
        <div class="container">
          
          <h1 class="section-title">My Services</h1>
          <p class="section-description">I create awesome functional Websites and Mobile Apps, the perfect solution for your project.<br/> We don't make software platforms, we make magic!</p>
          
          <div class="row services">
          
            <div class="col-sm-3 item text-center scrollimation fade-right d2">
          
              <div class="icon"><i class="fa fa-cogs"></i></div>
              <h3>Systems</h3>
              <p>
                The systems I develop help you to focus on the things that matter most to your business. 
              </p>
              
            </div>
            
            <div class="col-sm-3 item text-center scrollimation fade-right">
          
              <div class="icon"><i class="fa fa-pencil"></i></div>
              <h3>Architecture</h3>
              <p>
                I specialize in architecting a software platform that fits your needs.
              </p>
              
            </div>
            
            <div class="col-sm-3 item text-center scrollimation fade-left">
          
              <div class="icon"><i class="fa fa-code"></i></div>
              <h3>Development</h3>
              <p>
                I use many of the latest tools that not only deliver our platforms in a timely manner, but
                create robust and efficient systems in the interim
              </p>
              
            </div>
            
            <div class="col-sm-3 item text-center scrollimation fade-left d2">
          
              <div class="icon"><i class="fa fa-building"></i></div>
              <h3>Evolution</h3>
              <p>
                  I can build back-end systems to help you manage all of your platform's data which
                  can assist your business to it's ever changing needs
              </p>
              
            </div>
            
          </div>
          
          
          <h1 class="subsection-title">My Process</h1>
          <p class="subsection-description">
            You are a serious company. You deserve a serious solution.<br/>
            I'll be there from the beginning to the very end of your project's development.</p>
          
          <div class="process-box scrollimation">
          
            <ul class="process-list">
              <li>
                <p class="icon"><i class="fa fa-search fa-fw"></i></p>
                <h4>Research &amp; Analysis</h4>
              </li>
              <li>
                <p class="icon"><i class="fa fa-pencil fa-fw"></i></p>
                <h4>Design</h4>
              </li>
              <li>
                <p class="icon"><i class="fa fa-code fa-fw"></i></p>
                <h4>Development</h4>
              </li>
              <li>
                <p class="icon"><i class="fa fa-cogs fa-fw"></i></p>
                <h4>Testing</h4>
              </li>
              <li class="colored">
                <p class="icon"><i class="fa fa-globe fa-fw"></i></p>
                <h4>Publish</h4>
              </li>
            </ul>
          
            <div class="process-line"></div>
            
          </div>
        
        </div>
        
      </section>