		<!-- ==============================================
		PORTFOLIO
		=============================================== -->
		<section id="portfolio" class="gray-bg padding-top-bottom">
      
        <div class="container">
          
          <h1 class="section-title">My Portfolio</h1>
          <p class="section-description">I am proud of what we do. This is just an example of my greatest projects.</p>
          
          <!--==== Portfolio Filters ====-->
            
          <div id="filter-works">
          
            <ul>
              <li class="active">
                <a href="#" data-filter="*">All Categories</a>
              </li>
              <li>
                <a href="#" data-filter=".apps">Mobile</a>
              </li>
              <li>
                <a href="#" data-filter=".web-design">Web App</a>
              </li>
              <!-- <li>
                <a href="#" data-filter=".psd">PSD</a>
              </li> -->
            </ul>
            
          </div><!--End portfolio filters -->	
          
          <div class="projects-container scrollimation">
          
            <div class="row">
              
              <!-- ==============================================
              SINGLE PROJECT ITEM
              =============================================== -->
              <!--To have multiple categories add to 'class' attribute-->
              <article class="col-md-4 col-sm-6 project-item web-design">
              
                <!--==== Project Thumbnail & Title ====-->
                
                <div class="project-thumb">
                  <a href="#" class="main-link">
                    <img class="img-responsive img-center" src="assets/projects/fundingmiracles/fundingmiraclesa400X300.png" alt=""/>
                    <h2 class="project-title">Funding Miracles</h2>
                    <span class="overlay-mask"></span>
                  </a>
                  <a class="enlarge" href="assets/projects/fundingmiracles/fundingmiracles1200X886.png" title="Title"><i class="fa fa-expand fa-fw"></i></a>
                  <a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>
                </div><!-- End Thumbnail -->
                
                <!--==== Project Preview Content ====-->
                
                <div class="preview-content" data-images="assets/projects/fundingmiracles/fundingmiracles650X480.png">
                  
                  <p class="preview-subtitle">FREE online fundraising</p>
                  
                  <p>Funding Miracles.com, <a href="https://www.fundingmiracles.com">project</a> 
                    is a FREE online fundraising designed to not only help those in need but 
                    significantly reduce the cost for the donors
                  </p>
                  
                  <a href="//www.fundingmiracles.com" target="_blank" title="Visit Website"><img class="img-responsive img-center" src="assets/projects/fundingmiracles/banner.png" alt=""/></a>
                  
                  <p>
                    A web application as well as a backend data manager was produced to manage 
                    the data going in and out of the application.   </p>
                  <p>
                    The application currently uses the following platforms:  Angular 1.5, Bootstrap
                    and .NET Web Api on an Azure Cloud based network and the project took about 8 months to complete.  Currently,
                    Funding Miracles is the leading FREE fundraising platform
                  </p>
                  
                  <p class="text-center"><a class="btn btn-qubico" href="https://www.fundingmiracles.com" target="_blank">Visit Website</a></p>
                  
                </div><!-- End Project Preview -->
                
              </article>
              <!-- ==============================================
              END PROJECT ITEM
              =============================================== -->		
              
              <article class="col-md-4 col-sm-6 project-item apps">
              
                <div class="project-thumb">
                  <a href="#" class="main-link">
                    <img class="img-responsive img-center" src="assets/projects/glidia/glidia400x300.png" alt=""/>
                    <h2 class="project-title">Data Manager 2.0</h2>
                    <span class="overlay-mask"></span>
                  </a>
                  <a class="enlarge" href="assets/projects/glidia/glidia1200x886.png" title="Title"><i class="fa fa-expand fa-fw"></i></a>
                  <a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>
                </div>
                
                <div class="preview-content" data-images="assets/projects/glidia/glidia645X430.png,assets/projects/datamanager/datamanager645X430.png">         
                  
                  <p>
                    Glidia Datamanager is a platform that provides data to the scheduling
                    GCP cloud-based app we built for Web, iOS, and Android platforms. It provides an efficient
                    means to transport, edit, and add data that would be pertinent to 
                    scheduling component of the app
                  </p>
                  
                  <p>
                    In addition, Glidia DataManager is also used for diagnostics for the mobile app
                    as well as the api used by both applications.
                  </p>

                  <p>
                    The application currently uses the following platforms:  Angular 4, Bootstrap
                    and NODEJS and the project took about 8 months to complete.  
                  </p>
                  
                  <p class="text-center"><a class="btn btn-qubico" href="http://www.glidia.com" target="_blank">Visit Website</a></p>
                  
                </div>
              </article>
              
              <!-- <article class="col-md-4 col-sm-6 project-item web-design psd">
              
                <div class="project-thumb">
                  <a href="#" class="main-link">
                    <img class="img-responsive img-center" src="assets/projects/placeholder-400x300.jpg" alt=""/>
                    <h2 class="project-title">Project Title</h2>
                    <span class="overlay-mask"></span>
                  </a>
                  <a class="enlarge centered" href="assets/projects/datamanager/datamanager1200x886.png" title="Title"><i class="fa fa-expand fa-fw"></i></a>
                </div><!-- End Thumbnail 
                
              </article> -->
              
              <article class="col-md-4 col-sm-6 project-item apps">
                <div class="project-thumb">
                  <a href="#" class="main-link">
                    <img class="img-responsive img-center" src="assets/projects/admin/admin-400x300.png" alt=""/>
                    <h2 class="project-title">Malldub</h2>
                    <span class="overlay-mask"></span>
                  </a>
                  <a class="enlarge" href="assets/projects/admin/admin-1200X886.png" title="Title"><i class="fa fa-expand fa-fw"></i></a>
                  <a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>
                </div>
                <div class="preview-content" data-images="assets/projects/admin/admin-645X430.png,assets/projects/admin/admin-1200x900_1.png,assets/projects/admin/admin-1200x900_2.png">
                  
                  <p class="preview-subtitle">This is another cool project</p>
                  
                  <p>
                    The Malldub project was a do-it-yourself mall building application designed to make
                    it extremely easy to build a "mall" complete with different "stores" and ma-services
                    offered to the users.
                  </p>

                  <a href="//www.malldub.com" target="_blank" title="Visit Website"><img class="img-responsive img-center" src="assets/projects/admin/admin.jpg" alt=""/></a>
                  
                  <p>
                    In addition, the service was offered at a low-cost introductory rate with a few
                    monetizing services (ad sharing and store rentals) included with every mall.
                  </p>
                  <p>
                      The application currently uses the following platforms:  Angular 4, Bootstrap
                      and NODEJS and the project took about 4 months to complete.  
                  </p>
                  
                  <!-- <p class="text-center"><a class="btn btn-qubico" href="http://www.maras.co" target="_blank">Visit Website</a></p> -->
                  
                </div>
              </article>
              
              <!--
              <article class="col-md-4 col-sm-6 project-item web-design psd">
              
                <div class="project-thumb">
                  <a href="#" class="main-link">
                    <img class="img-responsive img-center" src="assets/projects/placeholder-400x300.jpg" alt=""/>
                    <h2 class="project-title">Project Title</h2>
                    <span class="overlay-mask"></span>
                  </a>
                  <a class="enlarge" href="assets/projects/placeholder-full-size.jpg" title="Title"><i class="fa fa-expand fa-fw"></i></a>
                  <a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>
                </div>
                
                <div class="preview-content" data-images="assets/projects/placeholder-645x430.jpg,assets/projects/placeholder-645x430.jpg,assets/projects/placeholder-645x430.jpg">
                  
                  
                  <p>Second Title ipsum dolor sit amet, <a href="">consectetur</a> adipiscing elit. Donec ac odio sed enim bibendum luctus. Morbi consectetur augue nec erat congue accumsan. Pellentesque ac tempor ipsum. Fusce in nisl adipiscing, luctus ipsum in, dictum mi. </p>
                  
                  <p>Morbi et gravida tellus, quis malesuada odio. Quisque facilisis cursus mi condimentum lobortis. Maecenas eros erat, varius et felis at, pretium aliquam ante. </p>
                  <p>Pellentesque dictum vulputate ornare. In hac habitasse platea dictumst. Proin pellentesque viverra tortor sit amet feugiat. Etiam varius neque quam, a tincidunt odio congue quis. Sed nec est leo. Curabitur nec eleifend magna. Nunc blandit laoreet ornare.</p>
                  
                  <p class="text-center"><a class="btn btn-qubico" href="#externallink" target="_blank">Visit Website</a></p>
                  
                </div>
              </article>
              
              <article class="col-md-4 col-sm-6 project-item web-design apps">
                <div class="project-thumb">
                  <a href="#" class="main-link">
                    <img class="img-responsive img-center" src="assets/projects/placeholder-400x300.jpg" alt=""/>
                    <h2 class="project-title">Project Title</h2>
                    <span class="overlay-mask"></span>
                  </a>
                  <a class="enlarge" href="assets/projects/placeholder-full-size.jpg" title="Title"><i class="fa fa-expand fa-fw"></i></a>
                  <a class="link" href="#"><i class="fa fa-eye fa-fw"></i></a>
                </div>
                <div class="preview-content" data-images="assets/projects/placeholder-645x430.jpg,assets/projects/placeholder-645x430.jpg">
                  
                  <p class="preview-subtitle">Listen to the music of Sonor!</p>
                  
                  <p>Second Title ipsum dolor sit amet, <a href="">consectetur</a> adipiscing elit. Donec ac odio sed enim bibendum luctus. Morbi consectetur augue nec erat congue accumsan. Pellentesque ac tempor ipsum. Fusce in nisl adipiscing, luctus ipsum in, dictum mi. </p>
                  
                  <p>Morbi et gravida tellus, quis malesuada odio. Quisque facilisis cursus mi condimentum lobortis. Maecenas eros erat, varius et felis at, pretium aliquam ante. </p>
                  <p>Pellentesque dictum vulputate ornare. In hac habitasse platea dictumst. Proin pellentesque viverra tortor sit amet feugiat. Etiam varius neque quam, a tincidunt odio congue quis. Sed nec est leo. Curabitur nec eleifend magna. Nunc blandit laoreet ornare.</p>
                  
                  <p class="text-center"><a class="btn btn-qubico" href="#externallink" target="_blank">Visit Website</a></p>
                  
                </div>
              </article> -->
              
            </div><!-- End Row -->
            
          </div><!-- End Projects Container -->
          
          <!-- <p class="text-center"><a id="ajax-load" class="btn btn-qubico" href="#"><i class="fa fa-plus-circle"></i>Load More</a></p> -->
          
        </div><!-- End container -->
        
        <!--==== Project Preview Panel (DO NOT REMOVE)====-->
        
        <div id="preview-scroll"></div>
        
        <div id="project-preview">
          
          <div class="container">
          
            <div class="preview-header text-center">
              <a class="close-preview" href="#">&times;</a>
              <h1 class="preview-title"></h1>
              <p class="preview-subtitle"></p>
            </div>
            
            <div class="imac-frame">
            
              <img class="img-responsive img-center" src="assets/imac.png" alt=""/>
              <span class="loader"></span>
              <div class="imac-screen imac-slider flexslider"></div>
              
            </div>
            
            <div class="row">
              <div id="preview-content" class="col-sm-10 col-sm-offset-1"></div>
            </div>
            
            <div class="preview-footer text-center">
              <a class="close-preview" href="#">&times;</a>
            </div>
              
            
          </div><!--End container -->
          
        </div><!--End #project-preview panel-->
        
      </section>