<!-- ==============================================
		CALL TO ACTION
		=============================================== -->
<section class="color-bg light-typo cta">

  <div class="container">

    <div class="row">
      <div class="col-md-9 cta-message">
        <p>
          <strong>Take your business to the next level</strong>
          The future is here.  Mobile and Web applications are sure-fire ways to 
          help you achieve success in your business.
        </p>
      </div>
      <div class="col-md-3 cta-button">
        <p class="text-center">
          <a class="btn btn-qubico white scrollto" href="#contact">
            <i class="fa fa-shopping-cart"></i>Contact Us</a>
        </p>
      </div>
    </div>
    <!--End row-->

  </div>
  <!--End container -->

</section>
<!--End Call to Action -->
