		<!-- ==============================================
		CLIENTS
		=============================================== -->
		<section id="clients" class="white-bg padding-top-bottom">
      
        <div class="container">
          
          <h1 class="section-title">Brands</h1>
          <p class="section-description">We 've worked with many respected brands in the industry.</p>
          
          <div class="row clients">
          
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up">
                <a href="//www.ericamaras.com" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/toyota.png" alt=""/></a>
              </div>
            
            </div>
          
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up d1">
                <a href="#link" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/hp.png" alt=""/></a>
              </div>
            
            </div>
            
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up d3">
                <a href="#link" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/marines.png" alt=""/></a>
              </div>
            
            </div>
            
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up d2">
                <a href="#link" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/ford.png" alt=""/></a>
              </div>
            
            </div>
            
            
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up d4">
                <a href="#link" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/honda.png" alt=""/></a>
              </div>
            
            </div>
            
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up d3">
                <a href="#link" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/microsoft.png" alt=""/></a>
              </div>
            
            </div>
            
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up d2">
                <a href="#link" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/tonyrobbins1.jpg" alt=""/></a>
              </div>
            
            </div>
          
            <div class="col-sm-6 col-md-3">
            
              <div class="client scrollimation fade-up">
                <a href="//www.ericamaras.com" target="_blank"><img class="img-responsive img-center" src="assets/img/clients/erica.png" alt=""/></a>
              </div>
            
            </div>
            
          </div><!-- End row -->
        
        </div><!-- End container -->
        
      </section>