<!-- ==============================================
		FEATURES
		=============================================== -->
<section id="about" class="white-bg padding-top-bottom">

  <div class="container features">

    <h1 class="section-title">Expert Background</h1>
    <p class="section-description">I specialize in AWS, Mobile/Web App Architectures and development for the following platforms:</p>

    <div class="row">

      <div class="col-sm-4 scrollimation fade-up">

        <div class="media">
          <div class="icon pull-left">
            <fa-icon [icon]="faAws" class="media-object icon-1"></fa-icon>
            <fa-icon [icon]="faAmazon" class="media-object icon-2"></fa-icon>
          </div>

          <div class="media-body">
            <h4>AWS</h4>
            <p>Design and implement scalable and fault-tolerant architectectures for high-traffic sites</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d1">

        <div class="media">
          <div class="icon pull-left">
            <fa-icon [icon]="faWeb" class="media-object icon-1 fa"></fa-icon>
            <fa-icon [icon]="faWeb" class="media-object icon-2 fa"></fa-icon>
          </div>

          <div class="media-body">
            <h4>Web Applications</h4>
            <p>Complex web applications that can scale quickly and efficiently</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d2">

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-windows"></i>
            <i class="media-object icon-2 fa fa-windows"></i>
          </div>

          <div class="media-body">
            <h4>Windows</h4>
            <p>I can also build mobile and desktop applications for Windows</p>
          </div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-4 scrollimation fade-up">

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-database"></i>
            <i class="media-object icon-2 fa fa-server"></i>
          </div>

          <div class="media-body">
            <h4>Data Services</h4>
            <p>Architect, scale, and create highly available database architectures.</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d1">

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-pied-piper"></i>
            <i class="media-object icon-2 fa fa-pied-piper-alt"></i>
          </div>

          <div class="media-body">
            <h4>Over 25 years experience</h4>
            <p>I'v been developing for over 26 years from desktop => web => mobile => cloud => AI/ML applications</p>
          </div>
        </div>

      </div>

      <div class="col-sm-4 scrollimation fade-up d2">

        <div class="media">
          <div class="icon pull-left">
            <i class="media-object icon-1 fa fa-star-o"></i>
            <i class="media-object icon-2 fa fa-star"></i>
          </div>

          <div class="media-body">
            <h4>5-star Support</h4>
            <p>You will receive personal support directly from me to help you achieve success</p>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>

<!-- ==============================================
      CALL TO ACTION (IPHONES)
      =============================================== -->
<section class="color-bg light-typo padding-top-bottom cta-iphones">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <div class="iphones-wrapper scrollimation">

          <div class="iphone-portrait-frame">
            <img class="img-responsive" src="assets/iphone-portrait.png" alt="" />
            <div class="iphone-portrait-screen">
              <img class="img-responsive" src="assets/img/logo/160x275.png" style="background: #FFFFFF" alt="" />
            </div>
          </div>

          <div class="iphone-landscape-frame">
            <img class="img-responsive" src="assets/iphone-landscape.png" alt="" />
            <div class="iphone-landscape-screen" style="background: #FFFFFF">
              <img class="img-responsive" src="assets/img/logo/275x160.png" alt="" />
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-5 col-sm-offset-1">

        <h2>Are You Ready To Take Your Business To The Next Level?</h2>

        <p>Start-up costs can be astronomical which is why we specialize in offering affordable start-up solutions.</p>
        <p>
          How?  The simple answer is very little to almost no overhead.  I've assembled a team that
          strictly focuses on building your solution.
        </p>

        <a class="btn btn-qubico white scrollto" href="#services">
          <i class="fa fa-arrow-down"></i>Explore the possibilities</a>

      </div>

    </div>

  </div>

</section>
