		<!-- ==============================================
		TEAM
		=============================================== -->
		<section id="team" class="white-bg padding-top-bottom">
      
        <div class="container">
          
          <h1 class="section-title">Meet the Team</h1>
          <p class="section-description">We are a small team with great skills. See the faces behind the lines of code. </p>
              
          <div class="row team-member">
          
            <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">
            
              <img class="img-responsive img-center" src="assets/img/personal-360x440.jpg" alt="" />
              <h4>David Antonio Marasco</h4>
              <p class="title">Director &amp; Founder</p>
              
            </div>
            
            <div class="col-sm-7 scrollimation fade-left">
            
              <div class="member-details">
                <p>
                  I love architecting, developing, and implementing solutions of all different origins.
                  My passion is delivering a substantive software platform not only to improve your
                  business processes but also helping you achieve financial success.
                </p>
                
                <ul class="member-socials">
                  <li><a href="mailto:antonio@maras.co"><i class="fa fa-envelope fa-fw"></i></a></li>
                  <li><a href="//twitter.com/maras_co"><i class="fa fa-twitter fa-fw"></i></a></li>
                  <li><a href="//facebook.com/marasco"><i class="fa fa-facebook fa-fw"></i></a></li>
                  <!-- <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li> -->
                </ul>
              </div>
            </div>
          </div>
          
          <!-- <div class="row team-member right">
          
            <div class="col-sm-3 col-sm-push-8 member-thumb scrollimation fade-left">
            
              <img class="img-responsive img-center" src="assets/placeholder-360x440.jpg" alt=""/>
              <h4>Jane Doe</h4>
              <p class="title">Designer</p>
              
            </div>
            
            <div class="col-sm-7 col-sm-pull-2 scrollimation fade-right">
            
              <div class="member-details">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                
                <ul class="member-socials">
                  <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                  <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
                  <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
                  <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="row team-member">
          
            <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right">
            
              <img class="img-responsive img-center" src="assets/placeholder-360x440.jpg" alt=""/>
              <h4>Richard Roe</h4>
              <p class="title">Lead Developer</p>		
              
            </div>
            
            <div class="col-sm-7 scrollimation fade-left">
            
              <div class="member-details">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                
                <ul class="member-socials">
                  <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
                  <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
                  <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
                  <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
                </ul>
              </div>
            </div>
          </div> -->
          
          <h1 class="subsection-title">Skills</h1>
          <p class="subsection-description">
           I have experience across a wide range of software domains which helps 
            deliver whatever your company needs.
            <br/></p>
          
          <div class="row skills">
  
            <div class="col-sm-6 col-md-3 text-center">
              <div class="chart-wrapper">
              <span class="chart" data-percent="93"><span class="percent countTo" data-to="93" data-speed="2000"></span></span>
              </div>
              <h2 class="text-center">AWS</h2>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
              <div class="chart-wrapper">
              <span class="chart" data-percent="93"><span class="percent countTo" data-to="93" data-speed="2000"></span></span>
              </div>
              <h2 class="text-center">AI/ML</h2>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
              <div class="chart-wrapper">
              <span class="chart" data-percent="98"><span class="percent countTo" data-to="98" data-speed="2000"></span></span>
              </div>
              <h2 class="text-center">Web Development</h2>
            </div>
            <div class="col-sm-6 col-md-3 text-center">
              <div class="chart-wrapper">
              <span class="chart" data-percent="90"><span class="percent countTo" data-to="90" data-speed="2000"></span></span>
              </div>
              <h2 class="text-center">Database</h2>
            </div>
            
          </div><!--End row -->
          
        </div>
        
      </section>